[submodule "bash/git-open"]
	path = bash/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "objc/class-dump"]
	path = objc/class-dump
	url = https://github.com/nygard/class-dump.git
